* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Caprasimo", serif;
}

body {
    background-color: #ffffff;
    padding-top: 80px;
}

/* Navbar */
.nav-container {
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
}


/* Small text */
.small-text {
    font-size: 14px;
    font-family: 'Outfit', sans-serif;
}

/* About Section */
.about-container {
    padding: 120px 174px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-text h6 {
    font-size: 14px;
    color: #575757;
    font-family: 'Outfit', sans-serif;
}

.about-text h2 {
    font-size: 40px;
    color: #171615;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    max-width: 700px;
}

.about-btn {
    margin-top: 30px;
    font-family: 'Outfit', sans-serif;
}

/* Carousel */
.carousel-img {
    height: 300px;
    width: 300px;
}

.carousel-track {
    display: flex;
    gap: 20px;
    padding-bottom: 75px;
}
.what-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 0px;
}
.about-heading{
  /* display: block; */
  /* justify-self: center; */
  color: #171615;
  font-size: 50px;
  font-family: 'outfit', sans-serif;
}
.about-para{
  font-size: 16px;
  text-align: center;
  color: #2c2528;
  display: block;
  font-family: 'outfit', sans-serif;
}
.divider{
  height: 0%;
  width: 100%;
  /* display: block; */
  border: 1px solid black;
}
.for-padding{
    /* padding-top: 100px; */
    padding: 100px 40px 0px 40px;
}




/* gallery */

.gallery-heading{
    color: #171615;
    font-size: 48px;
    font-family: 'outfit', sans-serif;
    /* padding-top: 10px; */
}

.main-heading{
    font-size: 14px;
    font-family: 'outfit', sans-serif;
    color: #575757;
}

.flower-div{
    height: 318px;
    border-radius: 35px;
    overflow: hidden;
}
/* .flower-div:hover */

.flower{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
}

.flower-div:hover{
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.flower-name{
    font-size: 18px;
    color: #2c2528;
    font-family: 'outfit', sans-serif;
}

.flower-cost{
    font-size: 14px;
    color: #00000099;
    font-family: 'outfit', sans-serif;
}


.card-hover {
    transition: transform 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-5px);
}